*, *:after, *:before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.dips_container{
    display: flex;
    justify-content: center;
}
.dips{
    max-width: 90%;
}
.back_container{
    position: absolute;
    bottom: 17%;
    right: 27%;
}
.next_container{
    position: absolute;
    bottom: 17%;
    right: 13%;
}
.back{
    max-width: 180px;
}